body {
  font-family: "Gotham Light", sans-serif;
  padding: 1rem;
  height: 250px;
  width: calc(100% - 32);
  display: block;
  color: #fffefb;
  background-color: #1c1c1c;
  font-size: 16px;
}

.slogan {
  height: 30%;
  width: 100%;
}
.slogan h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: "Gotham Black", sans-serif;
  font-size: 1.5em;
}
.slogan p {
  margin: 0;
}

.content {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: 12% 25% 20% 43%;
}

.box {
  height: 85%;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fffefb;
}

.box h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.3em;
  font-family: "Gotham Black", sans-serif;;
}
.box p {
  margin: 0;
  font-size: 1em;
}

.nav {
  list-style: none;
}
.nav li {
  margin: 0.5rem;
}
.nav li:hover{
  cursor: pointer;
  font-family: "Gotham Black", sans-serif;
}

.follow-us .links{
  display: flex;
}
.follow-us .links i{
  margin-right: 1rem;
  font-size: 2em;
  text-decoration: none;
  color: #fffefb;
}
.follow-us .links i:hover {
  cursor: pointer;
}

.news-letter {
  width: 80%;
  border: none;
}
.news-letter .field {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.8em;
}
.news-letter input[type="text"] {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #fffefb;
  border-bottom: 2px solid #fffefb;
  font-size: 1.5em;
  outline: none;
}
.news-letter input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 20px #1c1c1c inset !important;
  -webkit-text-fill-color: #fffefb;
}
.news-letter
  input[type="text"][required]:focus
  + label[placeholder]:before,
.news-letter
  input[type="text"][required]:valid
  + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: scale(0.9, 0.9) translate(-3px, -30px);
}
.news-letter
  input[type="text"][required]:invalid
  + label[placeholder][alt]:before {
  content: attr(alt);
}
.news-letter input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  margin-top: calc(-2em);
}
.news-letter input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  color: #fffefb;
  transition: 0.3s ease-in-out;
}
.news-letter button {
  height: 45px;
  width: 100px;
  color: #fffefb;
  background: none;
  border: 2px solid #fffefb;
  border-radius: 4px;
  transition: 0.2s;
}
.news-letter button:hover {
  cursor: pointer;
  background-color: #fffefb;
  font-family: "Gotham Black", sans-serif;;
  color: #000000;
}

@media all and (max-width: 1024px) {
  body {
    font-size: 12px;
    height: 400px;
  }
  .content{
    grid-template-columns: 1fr;
    grid-row: auto;
    gap: 1rem;
  }

  .slogan {
    height: 15%;
  }
  .box {
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1rem;
    align-items: center;
  }

  .nav {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .news-letter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}