.menu-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.menu-bar .unBounded {
  position: absolute;
  left: 0;
}
.menu-bar .unBounded i {
  margin-right: 0.5rem;
}
.menu-bar .unBounded:hover {
  cursor: pointer;
}
.menu-bar .cart {
  position: absolute;
  right: 0;
}
.menu-bar .cart i {
  font-size: 1rem;
}

.bar {
  top: 60px;
  position: fixed;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  border-bottom: 2px solid #f4f4f4;
  z-index: 3;
}
.bar p {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.2s;
}
.bar #menu {
  position: absolute;
  left: 1rem;
}
.bar #menu input {
  display: none;
}
.bar #menu input:checked + label {
  font-family: var(--bold);
}
.bar #menu label:hover {
  cursor: pointer;
  font-family: var(--bold);
}
.bar #men:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bar #women:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active p {
  font-family: var(--bold);
  transition: 0.5s;
}

.sidebar {
  top: 100px;
  left: -100vw;
  position: fixed;
  padding-left: 1rem;
  width: 30%;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--main-white);
  border-right: 2px solid #f4f4f4;
  opacity: 100%;
  transition: 0.2s;
  z-index: 2;
}
.sidebar.active {
  left: 0;
}
.sidebar h1 {
  font-size: 1rem;
}
.sidebar hr {
  width: 80%;
  margin: 0;
  margin-top: 0.5rem;
}
.styles {
  float: left;
  width: 100%;
}
.style {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.style.active p {
  font-family: var(--bold);
}
.style p:hover {
  cursor: pointer;
  font-family: var(--bold);
}
.style p {
  font-size: 0.8rem;
  font-family: "Gotham Light", sans-serif;
}
.style:hover {
  cursor: pointer;
  font-family: var(--bold);
}

.content {
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.products {
  margin-top: 120px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 235px 235px 235px 235px;
  grid-auto-rows: 350px;
  gap: 1rem;
}
.product {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffbeb;
  border-radius: 4px;
}
.product:hover {
  cursor: pointer;
  box-shadow: 2px 1px 10px #d9d9d9;
}
.product .image {
  position: relative;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .image img {
  height: 70%;
  width: 75%;
  z-index: 1;
}
.product .image .backdrop {
  height: 50%;
  width: 85%;
  position: absolute;
  background-color: #f6f3e7;
}
.product .info {
  height: 25%;
  margin-left: 1rem;
}
.product .info p {
  margin: 0px;
  margin-top: 8px;
  height: 25%;
  font-size: 0.8rem;
}

@media all and (max-width: 1024px) {
  .bar #menu:hover {
    cursor: pointer;
  }
  .bar #menu label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0ca";
    font-weight: 900;
  }
  .bar #menu #button:checked + label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
  }
  .bar #menu #button:checked + label:hover {
    transform: rotate(360deg);
    transition: 1.5s;
  }
  .bar #menu label p {
    display: none;
  }
  .sidebar {
    width: 50%;
  }
  .products {
    margin-top: 60px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
