.menu-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.menu-bar .unBounded {
  position: absolute;
  left: 0;
}
.menu-bar .unBounded i {
  margin-right: 0.5rem;
}
.menu-bar .cart {
  position: absolute;
  right: 0;
}
.menu-bar .cart i {
  font-size: 1rem;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  position: relative;
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .image {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .image img {
  height: 100%;
  width: 100%;
}
.product .info {
  height: 70%;
  width: 70%;
  margin-left: 35%;
  padding-left: 18%;
  background-color: #242424;
  color: #fffefb;
}
.product .info .product-price {
  font-size: 1.2rem;
}
.product .info hr {
  width: 90%;
  margin-left: 0;
}
.product .info button {
  position: absolute;
  margin-top: 5%;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  border-radius: 4px;
  z-index: 1;
}
.product .info button:hover {
  color: var(--main-white);
  border: none;
  background-color: #000000;
  border: 2px solid var(--main-white);
  cursor: pointer;
}

.product .info .bottom-corner {
  position: absolute;
  bottom: 17%;
  right: 1%;
  height: 20%;
  width: 30%;
  border-bottom: 4px solid var(--main-white);
  border-right: 4px solid var(--main-white);
  margin-bottom: 10px;
  margin-right: 10px;
}

@media all and (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    gap: 1rem;
    justify-items: center;
    align-items: unset;
  }

  .unBounded p {
    display: none;
  }

  .product {
    top: 100px;
    height: 400px;
  }

  .product .image {
    width: 100%;
    justify-content: unset;
  }

  .product .info {
    top: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 90%;
    display: grid;
    grid-template-rows: 30% 20% 50%;
    justify-items: center;
  }
  .product .info .product-name h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .product .info .product-name hr {
    width: 90%;
    margin-left: 1rem;
  }
  .product .info .product-price p {
    font-size: 1.2rem;
  }
  .product .info button {
    position: relative;
    width: 200px;
  }
  .product .info .bottom-corner {
    bottom: 1px;
    right: 0px;
    width: 60%;
  }
}
