body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: block;
  position: relative;
  font-weight: 100;
}

body::-webkit-scrollbar {
  display: none;
}

.menu-bar {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.bar {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #fffefb;
  z-index: 3;
}
.bar p {
  padding-left: 16px;
  padding-right: 16px;

  color: #2e2e2e;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;

  letter-spacing: 0.5rem;
  transform: scale(1, 0.9);
  transition: 0.2s;
}
.bar #menu:hover {
  cursor: pointer;
}
.bar #menu:hover p {
  cursor: pointer;
  font-weight: 900;
}
.bar #men:hover {
  cursor: pointer;
}
.bar #men:hover p {
  cursor: pointer;
  font-weight: 900;
}
.bar #women:hover {
  cursor: pointer;
}
.bar #women:hover p {
  cursor: pointer;
  font-weight: 900;
}
.active p {
  font-weight: 900;
}
#menu {
  margin-right: auto;
}
#menu-counter {
  margin-left: auto;
  visibility: hidden;
}

.sidebar {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #707070;
  top: 130px;
  left: -100vw;
  padding-left: 16px;
  opacity: 100%;
  transition: 0.2s;
  z-index: 2;
}
.sidebar.active {
  left: 0;
}
.sidebar h1 {
  font-size: 24px;
  margin-bottom: 0;
}
.sidebar hr {
  width: 80%;
  height: 4px;
  margin: 0;
}
.styles {
  float: left;
  width: 100%;
}
.styles p:hover {
  cursor: pointer;
  font-weight: 900;
}
.style {
  margin-left: 16px;
  margin-bottom: 16px;
}
.style p {
  font-weight: 100;
}
.style:hover {
  cursor: pointer;
  font-weight: 900;
}

.content {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}
.products {
  display: grid;
  margin: 150px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-auto-rows: 350px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.product {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  justify-content: center;
  background-color: #fffdf5;
}
.product:hover {
  cursor: pointer;
  box-shadow: 2px 1px 10px #b7b7b7;
}
.product .image {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.product .image img {
  width: 75%;
  height: 70%;
  z-index: 1;
}
.product .image .backdrop {
  position: absolute;
  background-color: #f6f3e7;
  width: 85%;
  height: 50%;
}
.product .info {
  height: 25%;
  margin-left: 24px;
}
.product .info p {
  height: 25%;
  margin: 0px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
}
