#company-name {
  font-size: 24px;
}

.content {
  margin: 0 auto;
  /* width: 1500px; */
  height: 90%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.store-navigation {
  width: 100%;
  border-right: 2px solid #161616;
}

.menu {
  color: #fffefb;
  background-color: #161616;
  height: 5%;
  width: 100%;
  display: flex;
}
.menu h1 {
  padding-left: 16px;
  font-weight: 100;
  font-size: 20px;
}
.gender {
  padding: 16px;
}
.gender h2 {
  font-weight: 500;
}
.gender h2:hover {
  font-weight: 900;
  cursor: pointer;
}
.gender p {
  font-weight: 100;
}
.gender p:hover {
  font-weight: 900;
  cursor: pointer;
}

.collections {
  padding: 16px;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.collection {
  height: 500px
}

.nav {
  height: 100%;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.name p{
  color: #fffefb;
  font-size: 24px;
  font-weight: 200;
}
button {
  margin: 24px;
  width: 100px;  
  height: 50px;
  border-radius: 2px;
  background-color: transparent;
  color: #fffefb;
  border: 2px solid #fffefb;
  transition: 0.2s;
}
button:hover {
  background-color: #fffefb;
  color: #000000;
  opacity: 90%;
  cursor: pointer;
}
.description {
  overflow-wrap: break-word;
  height: 100%;
  padding-left: 16px;
}
