#company-name {
  font-size: 24px;
}

.products-navigation {
  height: 60px;
  width: 100%;
  background-color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-navigation .option {
  margin-left: 32px;
  margin-right: 32px;
}

.content {
  margin: 0 auto;
  height: 90%;
  display: grid;
  grid-template-columns: 20% 80%;
  animation: fade-in ease 0.1s;
}

.countries-filter{
  padding: 16px;
  height: 100%;
  width: 100%;
  position: sticky;
  border-right: 4px solid #c8c8c8;
  list-style: none;
}
.countries-filter li {
  padding-left: 16px;
}
.countries-filter li:hover {
  font-weight: 900;
  cursor: pointer;
}
.countries-filter h1{
  font-size: 18px;
}